* {
    -webkit-tap-highlight-color: transparent;
}

h1#johan {
    font-family: 'Libre Baskerville', serif;
    font-size: 5em;
    color: steelblue;

    margin-top: 0.67em;
    margin-bottom: 0.5em;

    display: flex;
    justify-content: center;
    
    user-select: none;
}



/* PUNTJES */

h1#johan > span {
    position: relative;
}

.puntje {
    position: absolute;
    width:  0.75ex;
    height: 0.75ex;
    cursor: pointer;
    border-radius: 50%;
}

.puntje.hoog {
    top:   0.04ex;
    left: -0.04ex;
}

.puntje.laag {
    bottom: 0.27ex;
    right: -0.13ex;
}

.puntje::after {
    content: "";
    pointer-events: none;
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;

    transition: all 0.5s;
    transform: scale(2);
    background-color: transparent;
}

.puntje:active::after {
    transition: none;
    transform: scale(0);
    background-color: currentColor;
}

/* BUTTONS */

section.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    perspective: 1000px;
    max-width: 600px;
    margin: auto;
}

section.buttons > button {
    margin: 8px;
    width: 5em;
    height: 5em;

    cursor: pointer;
    
    transform: rotate3d(1,0,0,30deg);

    background-color: antiquewhite;
    border-radius: 10px;
    border-width: 3px;

    color: slateblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: larger;
}

section.buttons > button:focus {
    text-decoration: underline;
    outline: none;
}



/* INFO MODAL */

.modal {
    visibility: hidden;
    display: flex;

    align-items: center;
    justify-content: center;

    position: fixed;
    top: -50px; right: -50px; bottom: -50px; left: -50px;

    transition: all 0.3s;
    
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(6px);
    transform: translateY(50px);
    opacity: 0;
}

.modal:target {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}

.modal > * {
    position: relative;
    background-color: white;
    border-radius: 1em;
    padding: 3em min(3em, 10vw);
    max-width: 90vw;
}

.modal-button {
    position: absolute;
    right: 0.8em;
    top: 0.8em;

    opacity: 0.5;
    color: inherit;
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
    line-height: 1em;
    
    transition: all 0.3s;
}

.modal-button:hover {
    opacity: 1;
    color: steelblue;
}

footer {
    display: flex;
    justify-content: center;

    font-family: Courier, monospace;
    line-height: 2em;
}

footer > span + span::before {
    content: '•';
    margin: 0 0.5em;
}



/* FONT */

@font-face {
    font-family: 'Libre Baskerville';
    font-style: bold;
    font-weight: 700;
    src: url(/assets/LibreBaskerville-Bold.ttf); /* For IE6-8 */
    src: local('Libre Baskerville'),
         local('LibreBaskerville-Bold'),
         url(/assets/LibreBaskerville-Bold.ttf) format('truetype');
}
